<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--组件扫描:只需要扫描service包即可，持久层的实例交给Spring整合MyBatis的依赖来完成-->
    <context:component-scan base-package="com.bjpowernode.service" />

    <!--引入配置文件-->
    <context:property-placeholder location="classpath:db.properties" />
    <!--配置数据源druid-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--driverClassName可以不写，智能匹配-->
        <property name="driverClassName" value="${db.driver}" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
    </bean>

    <!-- 配置 SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--读取mybatis的主配置-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="dataSource" ref="dataSource" />
        <!--批量起别名-->
        <property name="typeAliasesPackage" value="com.bjpowernode.pojo" />
    </bean>

    <!-- 配置Spring整合MyBatis -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注册MyBatis的映射文件-->
        <property name="basePackage" value="com.bjpowernode.mapper" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!--
        配置声明式事务：
            1. 配置通知 tx
            2. 配置AOP
     -->
    <tx:advice id="myAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!--查询方法都必须以get开头，只读，支持事务-->
            <tx:method name="get*" read-only="true" propagation="SUPPORTS" />
            <!--其它方法都必须有事务-->
            <tx:method name="*" />
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <!--切入点-->
        <aop:pointcut id="allService" expression="execution(* *..service..*.*(..))" />
        <!--切入点+通知-->
        <aop:advisor advice-ref="myAdvice" pointcut-ref="allService" />
    </aop:config>
</beans>